body {
  background-image: linear-gradient(to right,#272216 , #0c0b0b);
  color:white;
  padding-left: 20px;
  
}
.title{
  padding-left: 20px;
  font-size: 100px;
}

.image{
  max-width: 500px;
  max-height: 500px;

  padding: 2px;

}

/*NAVBAR*/

/* Add a black background color to the top navigation */
.topnav {
   
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 34px 46px;
  text-decoration: none;
  font-size: 25px;
 
}

/* Add a color to the active/current link */
.topnav a.active {
  background-image: linear-gradient(to right,rgba(179, 6, 43, 0.993), rgba(255, 78, 246, 0.808));
  color: white;
}

