body {
  background-image: linear-gradient(to right,#282c2a , #0a0908ed);
  color:white;
  
}


.image{
  max-width: 700px;
  max-height: 700px;
  padding-left: 150px;
}

.imageHall{
  width: 100%;
  height: 100%;
  position: absolute;
  filter: opacity(.23);

}

.intro{
  position: absolute;
  top: 200px;
  right: 50px;
  font-size: 30px;
  font-weight: 500;
}

.intro2{
  position: absolute;
  top: 330px;
  right: 50px;
  font-size: 30px;
  font-weight: 100;
}



/*NAVBAR*/

/* Add a black background color to the top navigation */
.topnav {
   
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 34px 46px;
  text-decoration: none;
  font-size: 25px;
 
}

/* Add a color to the active/current link */
.topnav a.active {
  background-image: linear-gradient(to right,rgba(179, 6, 43, 0.993), rgba(255, 78, 246, 0.808));
  color: white;
}

